body {
  background-color: bisque;
}
.main-area {
  margin: 30px auto;
  background-color: aliceblue;
  position: relative;
  overflow: hidden;
}

.box {
  /* height: 20px;
  width: 20px; */
  border-radius: 50%;
  position: absolute;
}
