body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
    background: #7dd9e8;
  }
  .second-header {
    background: #f4f4f4;
  }
  .bottom-container {
    background: #727272;
  }
  