body {
  background-color: #f4f4f4;
}
.container {
  margin: auto;
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  position: relative;
}

.small {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
}
