body {
  background-color: bisque;
}
.main-area {
  margin: 50px auto;
  background-color: aliceblue;
  position: relative;
  overflow: hidden;
}

.box {
  position: absolute;
}
.ant-images {
  width: 100%;
  height: 100%;
}
