
.clearfix {
clear: both;
display: table;
content: " ";
}
.up-contents {
width: 1002px;
padding: 15px;
margin: 0px auto;
}
.up-left-contents {
float: left;
margin-right: 50px;
}
.logo {
float: left;
}
.search {
float: right;

margin-left: 25px;
}
.up-right-contents {
float: right;
}
.nav-items {
list-style: none;
}
.nav-items li {
display: inline;
/* background-color: aqua; */
padding-left: 5px;
padding-right: 5px;
}

.down-contents {
width: 1002px;
margin: 0px auto;
}
.down-left {
float: left;
}
.down-right {
float: right;
}

.middle-contents {
/* width: 1002px; */
}
.middle-contents-left {
float: left;
}
.middle-contents-right {
float: right;
/* background-color: lightslategray; */
margin-right: 25px;
margin-top: 15px;
}
.mcl-left {
float: left;
}
.left-side-menu {
list-style: none;
border: 1px #ddd solid;
text-decoration-line: none;
width: 300px;
/* padding: 20px; */
}
.left-side-menu li {
font-size: 18px;
/* line-height: 2.4em; */
border-bottom: dotted 1px #ddd;
padding-top: 3px;
padding-left: 20px;
padding-bottom: 3px;
}
/* .left-side-menu li:first-child {
background-color: mediumturquoise;
} */
.mcl-right {
float: right;
}
.right-side-menu {
list-style: none;
border: 1px #ddd solid;
text-decoration-line: none;
width: 300px;
/* padding: 20px; */
}
.right-side-menu li {
font-size: 18px;
/* line-height: 2.4em; */
border-bottom: dotted 1px #ddd;
padding-top: 3px;
padding-left: 20px;
padding-bottom: 3px;
}

.bottom {
margin-top: 20px;
margin-left: 20px;
}
.post-list {
list-style: none;
border: 1px solid red;
float: left;
font-size: 1em;
}
.post {
border-bottom: 1px solid black;
padding-top: 17px;
padding-bottom: 17px;
width: 615px;
}
.date {
border-left: 1px solid black;
border-right: 1px solid black;
padding-left: 4px;
padding-right: 4px;
}

.code-img {
float: left;
}
.post-detail {
float: left;
margin-left: 15px;
}
.clearfix {
display: table;
content: " ";
clear: both;
}

.bottom-content{
width: 1002px;
margin: 0px auto;

}
.bottom-left-content{
float: left;
}
.bottom-right-content{
float: right;
}
